/* Responsive Styles */
@media (max-width: 768px) {
    body{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-icon {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
    }

    /* banner design  */
    .banner{
        flex-direction: column;
    
    }
}
