
/* font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
body{
     background-color: #111111;
}
/* nav bar design */
header{
    max-width: 1060px;
    height: 715px;
    margin: 0 auto;
    
}
.nav-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}

.nav-logo{
    color: #E6533C;
    font-size: 30px;
    
}
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}
.menu li {
    margin-left: 20px;
   
}
.menu li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    
}
.home-btn{
    padding: 8px 12px;
    background-color: #E6533C;
    border-radius: 45px;
}
.menu-icon {
    display: none;
    font-size: 28px;
    /* color: white; */
    cursor: pointer;
    order: 2;
}
#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu {
    display: block; 
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
}

#menu-toggle:checked + .menu li {
    margin: 10px 0;
}


